@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700');

code, pre {
  font-family: 'Fira Mono', Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #2a3a4b;
  background-color: #e9ebed;
  border-radius: 3px;
}

pre code {
  padding: 0;
  font-size: 90%;
  color: #2a3a4b;
  background: transparent;
}

.highlight {
  padding: 0.5rem;
  background: #e9ebed;
  border-radius: 3px;
  pre {
    margin: 0;
    overflow-x: auto;
  }
}
