// Navigation bar

nav {
  margin: 0;
  padding-top: 2rem;
  overflow: hidden;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Inter UI', sans-serif;
    font-weight: bold;
    font-size: 1em;
    li {
      @include vertical-align();
      float: right;
      display: inline-block;
      a {
        color: #888;
        display: block;
        padding: 0.5rem 1.5em;
        text-decoration: none;
        &:hover, &:focus {
          text-decoration: none;
          color: #2a3a4b;
        }
      }
    }
  }
}

.navhome {
  float: left;
  font-family: 'Spectral', 'Georgia', serif;
  font-size: 2rem;
  a {
    color: #2a3a4b;
    padding: 0;
  }
}
